{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 version",
            "android >= 4.4",
            "IE >= 10",
            "> 0.25%"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "shippedProposals": true
      }
    ],

  ]
}
