@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $Roboto;
  -webkit-font-smoothing: antialiased;;
  -webkit-overflow-scrolling: touch;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  color: $color-11;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1;
  scrollbar-3dlight-color: $color-trans;
  scrollbar-darkshadow-color: $color-trans;
  scrollbar-arrow-color: $color-trans;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include placeholder {
    color: $color-99;
    letter-spacing: normal;
  }

  * {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

ul {
  list-style: none;
}

a {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

input[type=date] {
  -webkit-appearance: none;
}

::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: right 8px center;
}

select::-ms-expand {
  display: none;
}

select option {
  font-weight: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

input,
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

textarea {
  resize: none;
  outline: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mole-box {
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .mole-item {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      z-index: 1;
      background-image: url(../images/hole.png);
    }

    .mole {
      background-image: url(../images/mole.png);
      background-size: 80%;
      position: absolute;
      top: 100%;
      width: 100%;
      height: 100%;
      transition: top 0.4s;

      &.up {
        top: 0;
        transition: top 0.4s;
      }
    }
  }
}