// layout 너비 변수
$layout-xs: 479px;
$layout-sm: 639px;
$layout-md: 839px;
$layout-lg: 1079px;
$layout-xl: 1279px;

// 색상 변수
$color-primary: #FFDC00;
$color-secondary: #FF5500;
$color-trans: transparent;
$color-white: #FFFFFF;
$color-black: #000000;
$color-11: #111111;
$color-99: #999999;

// fonts 변수
$Roboto: "Roboto", sans-serif;

